@mixin container($width: 90%, $max-width: 50em){
    width: $width;
    margin: 0 auto;
    max-width: $max-width // 55em is close to 900px
}

@mixin clearfix{
    &::after {
        content: '';
        display: block;
        clear:both;
    }
}

@mixin mq($widht:50em) {
    @media (min-width: $widht){
        @content;
    }
}